<p>
  <%= link_to '<button type="button">Add Course</button>'.html_safe, new_course_path %>
</p>
<table>
  <tr>
    <th><%= link_to "Class", :sort => "class_id" %></th>
    <th><%= link_to "Section", :sort => "section" %></th>
    <th><%= link_to "Component", :sort => "component" %></th>
    <th><%= link_to "Days", :sort => "time" %></th>
    <th><%= link_to "Location", :sort => "location" %></th>
    <th><%= link_to "Professor", :sort => "professor" %></th>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.class_id %></td>
      <td><%= course.section %></td>
      <td><%= course.component %></td>
      <td><%= course.time %></td>
      <td><%= course.location %></td>
      <td><%= course.professor %></td>
      <td><%= link_to '<button type="button">Edit</button>'.html_safe, edit_course_path(course)%></td>
      <td><%= link_to '<button type="button">Delete</button>'.html_safe, course_path(course),
                      method: :delete,
                      data: {confirm: 'Are you sure?'}%></td>
    </tr>
  <% end %>
</table>
  <p>
  <%= link_to '<button type="button">Add Course</button>'.html_safe, new_course_path %>
  </p>
