<div class="basic">
  <div class="table">
    <table>
      <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Dot Number</th>
      <th>Preferences</th>
      <th>Monday Start:</th>
      <th>Monday end:</th>
      <th>Tuesday Start:</th>
      <th>Tuesday end:</th>
      <th>Wednesday Start:</th>
      <th>Wednesday end:</th>
      <th>Thursday Start:</th>
      <th>Thursday end:</th>
      <th>Friday Start:</th>
      <th>Friday end:</th>
      <th>Email:</th>
      <th>Grades</th>

      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.firstname %></td>
          <td><%= student.lastname %></td>
          <td><%= student.dotnumber %></td>
          <td><%= student.preferences %></td>
          <td><%= student.mondaystart.strftime("%H:%M") %></td>
          <td><%= student.mondayend.strftime("%H:%M") %></td>
          <td><%= student.tuesdaystart.strftime("%H:%M") %></td>
          <td><%= student.tuesdayend.strftime("%H:%M") %></td>
          <td><%= student.wednesdaystart.strftime("%H:%M") %></td>
          <td><%= student.wednesdayend.strftime("%H:%M") %></td>
          <td><%= student.thursdaystart.strftime("%H:%M") %></td>
          <td><%= student.thursdayend.strftime("%H:%M") %></td>
          <td><%= student.fridaystart.strftime("%H:%M") %></td>
          <td><%= student.fridayend.strftime("%H:%M") %></td>
          <td><%= student.email %></td>
          <td>
            <% student.grades.each do |grade| %>

              <p><%=grade.section %>
                <%=grade.grade %></p>

            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Back', root_path %>
</div>