<h2>
  Your Information
</h2>
<p>
  <strong>First Name: </strong>
  <%= @student.firstname%>
</p>
<p>
  <strong>Last Name: </strong>
  <%= @student.lastname%>
</p>
<p>
  <strong>Dotnumber: </strong>
  <%= @student.dotnumber%>
</p>
<h2>
  Available Times:
</h2>
<p>
  <strong>Monday Availability: </strong>
  <%= @student.mondaystart.hour%>:<%= @student.mondaystart.min%>
  to
  <%= @student.mondayend.hour%>:<%= @student.mondayend.min%>
</p>
<p>
  <strong>Tuesday Availability: </strong>
  <%= @student.tuesdaystart.hour%>:<%= @student.tuesdaystart.min%>
  to
  <%= @student.tuesdayend.hour%>:<%= @student.tuesdayend.hour%>
</p>
<p>
  <strong>Wednesday Availability: </strong>
  <%= @student.wednesdaystart.hour%>:<%= @student.wednesdaystart.min%>
  to
  <%= @student.wednesdayend.hour%>:<%= @student.wednesdayend.min%>
</p>
<p>
  <strong>Thursday Availability: </strong>
  <%= @student.thursdaystart.hour%>:<%= @student.thursdaystart.min%>
  to
  <%= @student.thursdayend.hour%>:<%= @student.thursdayend.min%>
</p>
<p>
  <strong>Friday Availability: </strong>
  <%= @student.fridaystart.hour%>:<%= @student.fridaystart.min%>
  to
  <%= @student.fridayend.hour%>:<%= @student.fridayend.min%>
</p>

<h2>
  Your classes:
</h2>
<table>
  <tr>
    <th>Class</th>
    <th>Grade</th>
  </tr>


  <% @student.grades.each do |grade| %>
   <tr>
     <td><%=grade.section %></td>
     <td><%=grade.grade %></td>
   </tr>
  <% end %>
</table>

<p>
  <strong>Email: </strong>
  <%= @student.email%>
</p>

<p><%= link_to "Edit", edit_student_path(@student) %></p>
<%= link_to 'Back', studenthome_path %>
