<div class="basic">
  <h1>Your recs</h1>
  <table>
    <tr>
      <th><%= link_to "First Name", :sort => "firstname" %></th>
      <th><%= link_to "Last Name", :sort => "lastname" %></th>
      <th><%= link_to "Class ID", :sort => "class_id" %></th>
      <th><%= link_to "Section", :sort => "section" %></th>
    </tr>

    <% @requests.each do |rec| %>

      <tr>


        <td><%= rec.firstname %></td>
        <td><%= rec.lastname %></td>
        <td><%= rec.class_id %></td>
        <td><%= rec.section %></td>
        <td><%= link_to '<button type="button">Edit</button>'.html_safe, edit_request_path(rec)%></td>
        <td><%= link_to '<button type="button">Delete</button>'.html_safe, request_path(rec),
                        method: :delete,
                        data: {confirm: 'Are you sure?'}%></td>

      </tr>
    <%end%>
  </table>
  <%= link_to 'Back', teacherhome_path %>

</div>