<h1>Available classes</h1>
<table>
  <tr>
    <th><%= link_to "Class", :sort => "class_id" %></th>
    <th><%= link_to "Section", :sort => "section" %></th>
    <th><%= link_to "Component", :sort => "component" %></th>
    <th><%= link_to "Days", :sort => "days" %></th>
    <th><%= link_to "Start", :sort => "start" %></th>
    <th><%= link_to "End", :sort => "end" %></th>
    <th><%= link_to "Location", :sort => "location" %></th>
    <th><%= link_to "Professor", :sort => "professor" %></th>
  </tr>
  <% @courses.each do |course| %>

    <tr>


      <td><%= course.class_id %></td>
      <td><%= course.section %></td>
      <td><%= course.component %></td>
      <td><%= course.days %></td>
      <td><%= course.start.strftime("%H:%M")%></td>
      <td><%= course.end.strftime("%H:%M")%></td>
      <td><%= course.location %></td>
      <td><%= course.professor %></td>

    </tr>
  <%end%>
</table>
